!!!
%html
  = partial("structure/shared-header")
  \
  %title= data.page.title + " | Jurnal Aris FM"
  \
  \
  %body
    .bg-column

    .container
      .site-meta= partial("structure/header")
      .content
        %article.post 
          %h1.post-title= data.page.title
          %time= current_article.date.strftime('%e %B %Y')
          = yield
        = partial("structure/disqus.erb")
        .navigation
          %p 
            - prev_article = current_article.previous_article
            - if prev_article
              %span Tulisan sebelumnya:
              %a{ :rel => "prev", :href => prev_article.url }= prev_article.title
          %p 
            - next_article = current_article.next_article
            - if next_article
              %span Tulisan selanjutnya:
              %a{ :rel => "next", :href => next_article.url }= next_article.title


    = partial("structure/footer")

