!!!
%html
  = partial("structure/shared-header")
  \
  %title= data.page.title + " | Jurnal Aris FM"
  \
  \
  %body{ :class => page_classes }
    .bg-column

    .container
      .site-meta= partial("structure/header")
      .content
        %article.post
          %h1= data.page.title
          = yield


    = partial("structure/footer")
