!!!
%html
  = partial("structure/shared-header")
  \
  %title= current_article.title + " | Jurnal Aris FM"
  \
  \
  %body
    = partial("structure/header")
    .container
      .content
        %article.post 
          %h2.post-title= current_article.title
          %p.post-meta
            %time{datetime: current_article.date.strftime('%Y-%m-%d')}= current_article.date.strftime('%e %B %Y')
            %a{href: current_article.url+"#disqus_thread"} Comments
          .entry-content= yield
        %aside#comments 
          = partial("structure/disqus.erb")
        .navigation
          - prev_article = current_article.previous_article
          - if prev_article
            %p 
              %span Tulisan sebelumnya:
              %a{ :rel => "prev", :href => prev_article.url }= prev_article.title
          - next_article = current_article.next_article
          - if next_article
            %p 
              %span Tulisan selanjutnya:
              %a{ :rel => "next", :href => next_article.url }= next_article.title

      = partial("structure/footer")

