---
title: Home
pageable: true
per_page: 1
layout: index_layout
---

- page_articles.each_with_index do |article|
  %article 
    %h3= link_to article.title, article
    %time= article.date.strftime('%e %B %Y')
    .entry-content= article.body

.pagenavi
  - if paginate
    - if prev_page
      %p.pagination.prev= link_to '&larr; Halaman sebelumnya', prev_page
    - if next_page
      %p.pagination.next= link_to 'Halaman selanjutnya &rarr;', next_page
