---
title: Home
pageable: true
per_page: 1
layout: index_layout
---

- page_articles.each_with_index do |article|
  %article 
    %h2.post-title= link_to article.title, article
    %p.post-meta
      %time{datetime: article.date.strftime('%Y-%m-%d')}= article.date.strftime('%e %B %Y')
      %a{href: article.url+"#disqus_thread"} Comments
    .entry-content= article.body

.site-pagination
  - if paginate
    - if prev_page
      %p.pagination.prev= link_to '&larr; Halaman sebelumnya', prev_page
    - if next_page
      %p.pagination.next= link_to 'Halaman selanjutnya &rarr;', next_page
